# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
*.egg

# CSV and output files
*.csv
*.png
*.txt

# IDE and editor specific
.vscode/
.idea/

# OS specific
.DS_Store

# Custom ignored directories
失敗作/
narita/err.log 
