# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
*.egg

# CSV and output files
*.csv
*.png
*.txt

# 圧縮ファイル
*.zip
*.tar.gz
*.rar
*.7z

# IDE and editor specific
.vscode/
.idea/

# OS specific
.DS_Store

# No Push Folder
no_push/

# Docs Folder (moved back to root, but ignored)
# docs/

# errors and logs
error.log
debug.log
*.log
*.log.* # log rotation files like error.log.1, error.log.2.gz, etc.